<div class="container-fluid py-3 z-depth-1 div-modal-default">
  <p class="text-center">Solicitado <%= I18n.l(@pedido.created_at, format: :long) %></p>
  <hr>
  <div class="form-row mb-1">
    <strong class="text-left pr-2">Solicitante: </strong>
    <%= @pedido.nome %>
  </div>

  <div class="form-row mb-1">
    <strong class="text-left pr-2">Pasta: </strong>
    <%= @pedido.pasta %>
  </div>

  <div class="form-row mb-1">
    <strong class="text-left pr-2">Matrícula: </strong>
    <%= @pedido.matricula %>
  </div>

  <div class="form-row mb-1">
    <strong class="text-left pr-2">Curso:</strong>
    <%= @pedido.curso.descricao %> / <%= @pedido.periodo %>º período
  </div>

  <div class="form-row mb-1">
    <strong class="text-left pr-2">Turno:</strong>
    <%= @pedido.turno %>
  </div>

  <div class="form-row mb-1">
    <strong class="text-left pr-2">Contatos:</strong>
    <%= @pedido.email %> | <%= @pedido.telefone %> | <%= @pedido.celular %>
  </div>

  <div class="form-row mb-1">
    <strong class="text-left pr-2">Finalidade do pedido:</strong>
    <%= @pedido.finalidadePedido %>
  </div>
</div>

<%= render partial: 'pedido_atestados/edit', pedido_atestado: @pedido %>
