<%= simple_form_for(@pedido, local: true) do |form| %>
  <div class="div-modal-default alert-info z-depth-1 mt-3 py-3 text-center">
    <% @situacoes.each do |situacao| %>
      <div class="custom-control custom-radio custom-control-inline">
        <% if @pedido.situacao_id == situacao.id %>
          <input type="radio" checked value="<%=situacao.id%>" name="pedido_atestado[situacao_id]" class="custom-control-input radioSituacao" id='<%="pedido_atestado_situacao_id_#{situacao.id}"%>'>
        <% else %>
          <input type="radio" value="<%=situacao.id%>" name="pedido_atestado[situacao_id]" class="custom-control-input radioSituacao" id='<%="pedido_atestado_situacao_id_#{situacao.id}"%>'>
        <% end %>
        <label class="custom-control-label" for="<%="pedido_atestado_situacao_id_#{situacao.id}" %>"><%= situacao.descricao %></label>
      </div>
    <% end %>

    <div class="mx-3 pt-3" style="display: none" id="obs" >
      <%= form.text_area :observacao, placeholder:'Justifique a negação...', :class => "form-control", :maxlength => '220' %>
    </div>
  </div>

  <div class="actions text-center pt-2">
    <%= form.submit 'Atualizar Situação', :class => 'btn blue-default' %>
  </div>
<% end %>

<script type="text/javascript">
  var obs = document.getElementById('obs');
  var situacaoNegado = document.getElementById('pedido_atestado_situacao_id_3');
  var situacaoIndeferido = document.getElementById('pedido_atestado_situacao_id_4');

  if ((situacaoNegado != null && situacaoNegado.checked == true) || (situacaoIndeferido != null && situacaoIndeferido.checked == true)) {
    obs.style.display="block";
  } else {
    obs.style.display="none";
  }

  $('.radioSituacao').change(function(event) {
    var situacao = $(this);
    var obs = document.getElementById('obs');
    
    if (situacao[0].value == 3 || situacao[0].value == 4) {
      obs.style.display="block";
    } else {
      obs.style.display="none";
    }
  });
</script>