<% if pedido_atestado.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <ul>
    <% pedido_atestado.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= simple_form_for(@pedido_atestado, local: true) do |form| %>
  <section class="form-default">
    <div class="form-row mb-4">
      <div class="col">
        <%= form.text_field :nome, :class => "form-control", :placeholder => 'Nome' %>
      </div>
      <div class="col">
        <%= form.text_field :matricula, onkeypress: 'return SomenteNumero(event)', maxlength: '12', :class => "form-control", :placeholder => 'Matrícula'  %>
      </div>
      <div class="col">
        <%= form.text_field :pasta, onkeypress: 'return SomenteNumero(event)', maxlength: '6', :class => "form-control", :placeholder => 'Pasta'  %>
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="col">
        <%= form.input :curso_id, :as => :select, :collection => Curso.all.collect { |curso| [curso.descricao, curso.id] }, :label => false, :prompt => 'Selecione um curso', input_html: {:class => "browser-default custom-select", :id => "curso_id"} %>
      </div>
      <div class="col">
        <%= form.input :periodo, :as => :select, :collection => Curso.all.collect { |curso| ["", curso.quantidadePeriodo] }, :label => false, :prompt => 'Selecione o período/módulo', input_html: {:class => "browser-default custom-select", :id => "periodo", :disabled => "true"} %>
      </div>

      <div class="col" id="div-turno">
        <%= form.label :turno, "Turno:", :class => 'px-2 pt-2' %>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" value="Diurno" name="pedido_atestado[turno]" class="custom-control-input" id="pedido_atestado_turno_diurno">
          <label class="custom-control-label" for="pedido_atestado_turno_diurno">Diurno</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" value="Noturno" name="pedido_atestado[turno]" class="custom-control-input" id="pedido_atestado_turno_noturno">
          <label class="custom-control-label" for="pedido_atestado_turno_noturno">Noturno</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" value="Integral" name="pedido_atestado[turno]" class="custom-control-input" id="pedido_atestado_turno_integral">
          <label class="custom-control-label" for="pedido_atestado_turno_integral">Integral</label>
        </div>
      </div>
    </div>

    <div class="form-row mb-4">
      <div class="col">
        <%= form.text_field :email, type: 'email', placeholder:'Email', :class => "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :telefone, onkeyup: 'telefone(this);', placeholder:'Telefone', :class => "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :celular, onkeyup: 'celular(this);', placeholder:'Celular', :class => "form-control" %>
      </div>
    </div>
    <div class="mb-4 col-md-6 offset-md-3">
      <%= form.text_area :finalidadePedido, placeholder:'Informe o motivo da solicitação...', :class => "form-control", :maxlength => '220' %>
    </div>
    <div class="form-row mb-4" style="display: none">
      <%= form.label :situacao_id %>
      <%= form.collection_select :situacao_id, Situacao.all, :id, :descricao %>
    </div>

    <div class="actions text-center">
      <%= form.submit 'Solicitar Documento', :class => 'btn blue-default' %>
    </div>
  </section>
<% end %>