<%= simple_form_for(@pedido_atestado, local: true) do |form| %>
  <% if pedido_atestado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido_atestado.errors.count, "error") %> prohibited this pedido_atestado from being saved:</h2>

      <ul>
      <% pedido_atestado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section style="border: 2px solid #ededed; padding: 10px; border-radius: 5px;">
    <div class="form-row mb-4">
      <div class="col">
        <%= form.text_field :nome, :class => "form-control", :placeholder => 'Nome' %>
      </div>
      <div class="col">
        <%= form.text_field :matricula, onkeypress: 'return SomenteNumero(event)', maxlength: '12', :class => "form-control", :placeholder => 'Matrícula'  %>
      </div>
      <div class="col">
        <%= form.text_field :pasta, onkeypress: 'return SomenteNumero(event)', maxlength: '6', :class => "form-control", :placeholder => 'Pasta'  %>
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="col-md-4">
        <%= form.input :curso_id, :as => :select, :collection => Curso.all.collect { |curso| [curso.descricao, curso.id] }, :label => false, :prompt => 'Selecione um curso', input_html: {:class => "browser-default custom-select", :id => "curso_id"} %>
      </div>
      <div class="col" id="idPeriodo" style="display: none">
        <%= form.input :periodo, :as => :select, :collection => Curso.all.collect { |curso| [curso.quantidadePeriodo, curso.quantidadePeriodo] }, :label => false, input_html: {:class => "browser-default custom-select", :id => "periodo"} %>
      </div>
      <div class="col">
        <%= form.label :turno, :class => 'pr-2' %>
        <%= form.radio_button :turno, 'Diurno' %> Diurno
        <%= form.radio_button :turno, 'Noturno' %> Noturno
        <%= form.radio_button :turno, 'Integral' %> Integral
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="col">
        <%= form.text_field :email, type: 'email', placeholder:'Email', :class => "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :telefone, onkeyup: 'telefone(this);', placeholder:'Telefone', :class => "form-control" %>
      </div>
      <div class="col">
        <%= form.text_field :celular, onkeyup: 'celular(this);', placeholder:'Celular', :class => "form-control" %>
      </div>
    </div>
    <div class="mb-4 col-md-6 offset-md-3">
      <%= form.text_area :finalidadePedido, placeholder:'Informe o motivo da solicitação...', :class => "form-control", :maxlength => '220' %>
    </div>
    <div class="form-row mb-4" style="display: none">
      <%= form.label :situacao_id %>
      <%= form.collection_select :situacao_id, Situacao.all, :id, :descricao %>
    </div>

    <div class="actions text-center">
      <%= form.submit 'Solicitar Documento', :class => 'btn btn-primary' %>
    </div>
  </section>
<% end %>
