<p id="notice"><%= notice %></p>

<h3 class="py-3">Pedidos</h3>

<div class="list-group">
  <% @pedido_atestados.each do |pedido_atestado| %>
    <section class="list-group-item list-group-item-action flex-column align-items-start mb-1">
      <div class="d-flex w-100 justify-content-between mb-3 badge" style="background-color: #ededed; color: #333 !important;">
        <h6 class="pl-1 pt-2">Pasta <%= pedido_atestado.pasta %></h6>
        <span class="pr-1 pt-2">3 days ago</span>
      </div>

      <%= link_to pedido_atestado, :class => 'btn green-default text-white float-right px-3 botao', :style => 'border-radius: 20px' do %>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <% end %>

      <p class="pl-2 mb-1"><%= pedido_atestado.nome %></p>
      <p class="pl-2 mb-1 text-uppercase"><%= pedido_atestado.curso.descricao %></p>
      <p class="pl-2 mb-1"> Situação: <%= pedido_atestado.situacao.descricao %></p>

    </section>
  <% end %>
</div>