<p id="notice"><%= notice %></p>

<h3 class="py-3">Pedidos</h3>

<table class="table table-striped table-hover">
  <thead style="background-color: #333; color: #fff">
    <tr>
      <th>Aluno</th>
      <th>Pasta</th>
      <th>Curso</th>
      <th>Situação</th>
      <th>Detalhes</th>
      <!-- <th>Type</th> -->
      <!-- <th>Matricula</th> -->
      <!-- <th>Período</th> -->
      <!-- <th>Turno</th> -->
      <!-- <th>Anoletivo</th> -->
      <!-- <th>Telefone</th>
      <th>Celular</th> -->
      <!-- <th>Email</th> -->
      <!-- <th>Finalidade do pedido</th> -->
    </tr>
  </thead>

  <tbody>
    <% @pedido_atestados.each do |pedido_atestado| %>
      <tr>
        <td><%= pedido_atestado.nome %></td>
        <td><%= pedido_atestado.pasta %></td>
        <td><%= pedido_atestado.curso.descricao %></td>
        <td><%= pedido_atestado.situacao.descricao %></td>
        <td>
          <%= link_to pedido_atestado, :class => 'btn btn-sm green-default text-white' do %>
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          <% end %>
        </td>
        <!-- <td><%= pedido_atestado.type %></td> -->
        <!-- <td><%= pedido_atestado.matricula %></td> -->
        <!-- <td><%= pedido_atestado.periodo %></td> -->
        <!-- <td><%= pedido_atestado.turno %></td> -->
        <!-- <td><%= pedido_atestado.anoLetivo %></td> -->
        <!-- <td><%= pedido_atestado.telefone %></td>
        <td><%= pedido_atestado.celular %></td> -->
        <!-- <td><%= pedido_atestado.email %></td> -->
        <!-- <td><%= pedido_atestado.finalidadePedido %></td> -->
        <!-- <td><%= link_to 'Edit', edit_pedido_atestado_path(pedido_atestado) %></td>
        <td><%= link_to 'Destroy', pedido_atestado, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
