<!-- Modal -->
<div class="modal fade" id="modal_detalhes" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container-fluid">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">DETALHES</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="detalhes_pedido">
      </div>
      <div class="modal-footer">
      </div>
      </div>
    </div>
  </div>
</div>

<h3 class="py-3">Pedidos</h3>

<%= render partial: 'pedido_atestados/form_busca', :locals => {:path => "pedidos_biblioteca_path"} %>

<div id="lista-pedidos" class="list-group">
  <% @pedido_atestados.each do |pedido_atestado| %>
    <%= link_to '#', :class => 'btn-detalhes mb-1', data: {target: "#modal_detalhes", toggle: "modal", url: pedido_atestados_get_pedido_path(pedido_atestado.id), id: pedido_atestado.id} do %>
      <section class="list-group-item flex-column align-items-start p-2">
        <div class="d-flex w-100 mb-2 justify-content-between badge badge-light p-1">
          <span class="badge blue-default" style="font-size: 14px">Nº Pasta <%= pedido_atestado.pasta %></span>
          <% if ((Date.parse(Date.current.to_s) - Date.parse(pedido_atestado.created_at.to_s)).to_i == 0) then %>
            <small style="font-size: 10px; padding: 5px;">Solicitado Hoje - <b class="text-uppercase">[ <%= pedido_atestado.situacao.descricao %> ]</b></small>
          <% else %>
            <small style="font-size: 10px; padding: 5px;">Solicitado há <%= (Date.parse(Date.current.to_s) - Date.parse(pedido_atestado.created_at.to_s)).to_i %> dia(s) - <b class="text-uppercase">[ <%= pedido_atestado.situacao.descricao %> ]</b></small>
          <% end %>
        </div>
 
        <div class="px-2"><%= pedido_atestado.nome %> (<%= pedido_atestado.curso.descricao %>)</div>
      </section>
    <% end %>
  <% end %>
</div>