<div class="container">
  <div id="div-login" class="col-md-6 offset-md-3">
    <h3 class="py-3"><%= t('.sign_in') %></h3>

    <section class="form-default">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group mb-4">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
        </div>

        <div class="form-group mb-4">
          <%= f.label :password, "Senha" %>
          <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div id="lembrar-me" class="form-group form-check">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, class: 'form-check-label' do %>
              <%= resource.class.human_attribute_name('Lembrar-me') %>
            <% end %>
          </div>
        <% end %>
        <%= render 'devise/shared/links' %>

        <div class="form-group text-center div-btn">
          <%= f.submit  "Entrar", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </section>
  </div>
</div>
