<!DOCTYPE html>
<html>
  <head>
    <title>TCC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <header>     
      <nav  id="navbar" class="navbar fixed-top navbar-dark nav-color">
        <a class="navbar-brand" href="/">TCC</a>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>
    <section class="container-fluid" id="main">
      <%= yield %>
    </section>
    <footer class="footer card-footer text-muted small">
      <div class="container text-center">
        <span>Trabalho de Conclusão de Curso.</span>
        <div>© 2018 Copyright: Bianca Sóta Quintãn, David da Silva Azeredo e Leandro Vicente Silva
        </div>
      </div>
    </footer>
  </body>
</html>
